* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;

}

body{
      background-image: url(../imgs/bg7.jpg);
}



.test{
  width: 100%;
  height: 220px;
  /*background-color: #59666C;*/
  /*background-color: rgba(0,0,0,0.3);*/
  padding-top: 20px;
  overflow-y: scroll;

  image-resolution: snap;
}

.totalScrumPoints{
  font-size: 18px;
}
.completedScrumPoints{

}
.test2{

    width: 100%;
    height: 157%;
    background-color: white;
    padding-top: 20px;
    overflow-y: scroll;

}

.sprint_timer{
  font-size: 270px;
  font-weight: lighter;
  margin-left: 100px;

}
.currentlySprintingTextList{
  width: 100%;
  padding-left: 100px;
  font-size: 25px;
  /*background-color: blue;*/

}
.sprint_pause{
  margin-left: 100px;
  width: 100px;
  height: 50px;

}
.sprint_end{
  width:300px;
  height: 50px;
}
.fullscreenSprint{
  background-color: white;
  z-index: 999999999999;
  height: 100%;
  width: 100%;
}
#sprintFullScreen{
  background-color: white;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.currentSprintTasksContainer{
  height: 46%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
}
.sprintButton{
  position: absolute;;
  top: 150px;
  left: 325px;
  width: 150px;
  height:30px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
  color: #59666C;

  /*float: right;*/

}
.buildSprint{
  position: absolute;;
  top: 155.5px;
  font-size: 20px;
  left: 67%;
  width: 150px;
  height:50px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: white;
}
.scrumCount{
  font-size: 75px;
  width: 150px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  left: 325px;
  top: 50px;
  color: white
}

.is_complete{
  opacity: 0.7;
  /*color: black;*/
}
.hiddenHistory{
  color: black;
  display: none;
}
.showHistory{
  position:absolute;
  left: 250px;
  font-size: 30px;
  /*padding-top: 20px;*/
  width: 72px;
  text-align: center;
  padding-top: 15px;
  height: 60px;
  top: 235px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  /*z-index: 100000;*/
  /*position: absolute;
  top: 100%;*/
}

.editContent{
    background-color: rgba(0,0,0,0.3);
    color: white;
  position:absolute;
  left: 250px;
  font-size: 30px;
  width: 72px;
  text-align: center;
  padding-top: 15px;
  height: 60px;
  top: 295px;
  /*z-index: 100000;*/
  /*position: absolute;
  top: 100%;*/
}


.hideHistory{
  display: none;
}

.sprint_setup{
  font-size: 30px;
  text-align: center;

  color: white;
  padding-top: 100px;
  padding-right: 90px;
}
.deleteIcon{
  width: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 12px;
  font-size: 20px;
  color: white;
}
.instructionText{
      float: right;
      width: 750px;
      background-color: rgba(0,0,0,0.5);
      wi: left;
      color: white;
      font-size: 20px;
      padding-left: 40px;
      padding-bottom: 5px;
      padding-top: 0;
      margin: 0;
      margin-bottom: 5px;
      overflow-wrap: normal;
}

.yes{
  background-color: rgba(0,0,0,0.3);
}




/* ------------------------ top navigation bar ------------------------*/
#top_NavBar{
  width: 250px;
  height: 40px;
  min-height: 45px;
  background-color: #59666C;
  z-index: 999;
  position: absolute;
}

.top_navCollapse{
  display: inline-block;
  float: left;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.top_navSearch{
  display: inline-block;
  float: right;
  font-size: 20px;
  margin-top: 15px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

#top_mainDisplay{
  width:100%;
  padding-left: 250px;
  height: 40px;
  /*left: 20%;*/
  min-height: 45px;
  background-color: #CAB3A0;
  z-index: 995;
  position: absolute;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.top_mainTextHeader{
  font-size: 24px;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 30px;
  display: inline-block;
  color: #59666C;
  cursor: pointer;
}

.top_mainIconContainer{
  /*float: right;*/
  display: none;
  position: absolute;
  right: 0;
  height: 18px;
  width: 200px;
  top: 32px;
  padding-right: 20px;
    cursor: pointer;
}
.top_mainIconTextContainer{
  display: none;
  /*float: right;*/
  position: absolute;
  right: 0;
  height: 32px;
    width: 200px;
  top: 0px;
  padding-right: 20px;
    cursor: pointer;
}

.top_mainIcon{
  display: none;
  float: right;
  font-size: 22px;
  display: inline-block;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 22px;
  color: #59666C;
}
.top_more{
  display: none;
  /*padding-top: 15px;*/
  padding-top: 10px;
}
.top_mainIconText{
  display: none;
  font-weight: lighter;
  color: #59666C;
  float:right;
  font-size: 10px;
  padding-right: 21px;
  padding-left: 13px;
}












/* ------------------------ side navigation bar ------------------------*/
#sideNavBar{
  width: 250px;
  float: left;
  height: 92%;
  top: 40px;
  position: absolute;
  background-color: white;
  z-index: 50;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}

#side_userName{
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

#side_userName:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.side_userIcon{
  display: inline-block;
}
.side_userNameText{
  display: inline-block;
  font-size: 23px;
  font-weight: lighter;
  position: absolute;
  top: 27px;
  /*left: 35px;*/
  margin-left: 10px;
}

.side_filterContainer{
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.side_filterContainer:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.side_filterIcon{
  display: inline-block;
  font-size: 18px;
}
.side_filterText{
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
}

.side_indicator{
  float: right;
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  padding-top: 5px;
  font-weight: lighter;
  /*color: tomato;*/
}

.side_seperatorLine{
  width: 85%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
}

.side_addProject{
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
  width: 100%;
}

.side_addProject:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.projectList{
  /*background-color:red;*/
  height: 60%;
  overflow-y: scroll;
  max-height: 60%
  margin-bottom: 30px;
}













/* ------------------------ main display window ------------------------*/
#mainDisplay{
  width:  100%;
  height: 92%;
  top: 40px;
  padding-left: 250px;
  /*left:20%;*/
  position: absolute;
  overflow: hidden;
  /*padding-left: 250px;*/
  background-color: none;
  padding-bottom: 200px;
}


.displayImg{
  position: absolute;
  max-width:100%;
  /*max-height: 100%;*/
  /*transform: translateY(-200px);*/
}

.main_addTaskForm{
  width: 98%;
  height: 200px;
  /*background-color: #59666C;*/
  z-index: 999;
  position: relative;
  /*bottom: 0;*/
  border-radius: 5px;
  margin-left: 10px;
  /*margin-top: 30px;*/
  padding-right: 50px;
}

.scrumCountForFilter{
  position: absolute;
  /*padding-top: 20px;*/


  height: 100px;
  width: 500px;
  /*background-color: white;*/
}
.taskScrum{
  color: white;
  opacity: 0.5;
  padding-left: 10px;
  font-size: 14px;
}
.scrumCountFilter{
  color: white;
  font-size: 60px;
  font-weight: lighter;
  /*text-align: center;*/
  display: inline-block;
  width: 505px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  background-color: rgba(0,0,0,0.2);
}

.scumDescFilter{
  color: white;
  /*float: left;*/
  /*width: 300px;*/
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  padding-left: 30px;
  /*text-align: center;*/
  /*margin-left: 20px !important;*/
}


.main_addTaskInput{

  margin-top: 137px;

  margin-right: 50px;

  width: 93.4%;


  height: 50px;
  font-size: 25px;
  padding-left:15px;
  font-weight: lighter;
  margin-left: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #59666C;
}

.main_addTaskInput:focus{
  border: none;
  outline: none;
}

.main_addTaskHash{
  width: 6.7%;
  position: absolute;
  top: 78%;
  height: 50px;
  font-size: 25px;
  padding-left: 18px;
  font-weight: lighter;
  margin-left: 0px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #59666C;
  right: 34%;
}

.main_addTaskHash:focus{
  border: none;
  outline: none;
}
.main_addTaskOptions{
  display: none;
  float: right;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  margin-top: 10px;
  margin-right: 10px;


}

.main_addTaskOptions:hover{
  cursor: pointer;
  font-size: 33px;
  margin-top: 8px;
}


.main_inputIcon{
  font-size: 40px;
  font-weight: lighter;
  position:absolute;
  left: 15px;
  top: 65.5%;
  color: white;
}


.tasklistItem{
  width: 100%;
  /*pad*/
  /*margin-left: 72.5px;*/
  margin-right: 30px;
  height: 50px;
  font-size: 17px;
  font-weight: lighter;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #59666C;
  margin-bottom: 5px;
  padding-left: 10px;
}
.tasklistText{
  display: inline-block;
  color: white;

}
.is_completetext{
  text-decoration: line-through;
  color: white;
  opacity: 0.8;
}
.checkbox{
  display: inline-block;
  width:30px;
  text-align: center;
}

.main_currentListView{
width: 885px;
margin-right: 50px;
margin-left: 72.5px;
height: 100%;
padding-bottom: 175px;
margin: auto;
/*margin-top: 100px;*/
/*margin-top: 15px;*/

background-color: rgba(0,0,0,0.3);
/*background-color: none;*/
overflow-y: scroll;
}












/*------------------------- popup menus -----------------------------*/
.popup_background{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-color: white;
  z-index: 8999;
}

.popup_project_navContainer{
  display: none;
  /*-webkit-transform: translate(-50%, 0);*/
  height: 400px;
  width: 200px;
  left: 50px;
  bottom: 40px;
  /*bottom: 0%;*/
  /*top: 50px;*/
  background-color: white;
  border-radius: 2px;
  /*border: 10px solid #59666C;*/
  z-index: 9000;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.projectTitle_label{
  font-size: 20px;
  font-weight: Lighter;
  color: white;
}
.projectTitle_input{
  width: 90%;
  height: 30px;
}
.popup_project_formContainer{
  /*-webkit-transform: translate(-50%, 0);*/
  height: 400px;
  width: 500px;
  left: 250px;
  /* bottom: 10px; */
  padding: 20px;
  bottom: 19px;
  /*top: 50px;*/
  background-color: slategrey;
  border-radius: 2px;
  /*border: 10px solid #59666C;*/
  z-index: 9000;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
