<div id="mainDisplay">
    <div class="main_addTaskForm">

          <form ng-submit="test()" name="taskSubmit" target="#here" method="post">
          <span class="main_inputIcon">+</span>
            <input ng-model="newTask.task_title" name="addedTask" class="main_addTaskInput" placeholder="add task todo" type="text"  />

          <span class="main_addTaskOptions glyphicon glyphicon-edit"></span>
          <span class="main_addTaskOptions glyphicon glyphicon-star"></span>
        </form>
        <!-- {{newTask.task_title}} -->
    </div>


    <img class="displayImg" src="../imgs/bg7.jpg" />
</div>





<!--
<main ng-view></main>

<div class="characterSelect">
    <div id="magnetoBox" class="characterSelect_container">
        <a href="#magneto">
            <img border="0" alt="magnetoButton" src="/imgs/magneto.jpeg" width="150" height="150">
        </a>
    </div>

    <div id="stormBox" class="characterSelect_container">
        <a href="#storm">
            <img border="0" alt="stormButton" src="/imgs/storm.jpeg" width="150" height="150">
        </a>
    </div>

    <div id="pyroBox" href="#pyro" class="characterSelect_container">
        <a href=#pyro>
            <img border="0" alt="pyroButton" src="/imgs/pyro.jpeg" width="150" height="150">
        </a>
    </div>
</div> -->
