<div id="sideNavBar">
    <div id="side_userName">
        <img class="side_userIcon" src="../imgs/userIcon.png" height=40 width=40/>
        <p class="side_userNameText"><span>Andrew Wiskus</span></p>
    </div>
    <!-- <div ng-click="changeDisplay('filter_sprint')" class="side_filterContainer">
        <span class="side_filterIcon glyphicon glyphicon-envelope"></span>
        <p class="side_filterText">Sprint</p>
        <p class="side_indicator">3 new</p>
    </div> -->

    <div ng-click="clickedFilter('all')" class="side_filterContainer">
        <span class="side_filterIcon glyphicon glyphicon-paperclip"></span>
        <p class="side_filterText">My Tasks</p>
        <p class="side_indicator"></p>
    </div>

    <div class="side_seperatorLine"></div>
    <div class="projectList">
    <div class="projectFilter" ng-repeat="project in userData.projectList">
        <div ng-click="clickedFilter(project)" class="side_filterContainer">
            <span class="side_filterIcon glyphicon glyphicon-paperclip"></span>
            <p class="side_filterText">{{project}}</p>
            <!-- <p class="side_indicator">{{project.tasksCompleted.count}}/{{project.allTasks.count}}</p> -->
        </div>
    </div>
    </div>
    <div ng-click="addProject_popUp()" class="side_addProject">
        <span class="side_filterIcon glyphicon glyphicon-paperclip"></span>
        <p class="side_filterText">New Project</p>
    </div>

</div>
