<div id="top_NavBar">
  <div class="top_navCollapse">
<span class="glyphicon glyphicon-list"></span>
  </div>

  <div class="top_navSearch">
<span class="glyphicon glyphicon-search"></span>
  </div>

</div>

<div id="top_mainDisplay">
  <div class="top_mainTextHeader">
    <p>{{currentListView != 'all' ? currentListView : 'My Tasks' }}</p>
  </div>

  <div class="top_mainIconContainer">
    <span class="top_mainIconText">more</span>
    <span class="top_mainIconText">sort by</span>
  </div>
  <div class="top_mainIconTextContainer">
    <div>
      <span class="top_mainIcon top_more glyphicon glyphicon-option-horizontal"></span>
    </div>

    <div>
      <span class="top_mainIcon glyphicon glyphicon-sort-by-alphabet"></span>
    </div>


  </div>
</div>
